@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-text: #52525B;
  --gray-text: #52525B;
  --button-bg: #014B56;
  --button-text: #ffffff;
  --card-gradient-green: linear-gradient(143deg, #1D4A55 0%, #2C7181 100%);
  --card-gradient-blue: linear-gradient(143deg, #2A3050 0%, #46549A 100%);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background:#ededed;
    --foreground:#0a0a0a;
  }
}

@font-face {
  font-family: 'ACTAY';
  src: url('../fonts/ACTAY-REGULAR.OTF') format('opentype');
}

@font-face {
  font-family: 'ACTAYWIDE';
  src: url('../fonts/ACTAY-BOLD.OTF') format('opentype');
}

body {
  font-family: 'ACTAY';
  font-weight: normal;
  background: var(--background);
  color: var(--foreground);
  margin: 64px 128px;
}

body::-webkit-scrollbar {
  width: 0;               /* ширина scrollbar */
}
